@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font: 14px/1.5 "Agbalumo", sans-serif;
}

.poster{
    max-width: 800px;
    background: #D5EBEA;
    border: 2px solid #000;
    margin: 3em auto;
}

.poster h1{
    text-align: center;
    margin-top: 1em;
}

.poster .country{
    width: 90%;
    text-align: center;
    margin: 1em 2em 0 2em;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-weight: normal;
}

.content{
    background: #fff;
}

.info{
    display: flex;
    padding: 3em 1em;
    gap: 2em;
}

.card{
    flex: 1 1 auto;
    border: 2px solid #000;
    padding: 1em;
    text-align: start;
    align-items: center;
}

.card img{
    width: 100%;
    margin-bottom: 1.5em;
}

.card p{
    text-indent: 30px;
}

.description{
    flex: 1 1 auto;
    text-align: start;    
}

.description p{
    text-indent: 30px;
    font-size: 1.2em;
    margin-top: 2rem;
}

.facts{
    background: #000;
    color: #fff;
    width: 45%;
}

.facts h2{
    font-size: 1.5em;
    text-align: center;
}

.contacts{
    margin: 1em 0 0 2em;
    font-size: 1.2em;
}

.contacts p{
    margin-bottom: 0.5em;
}

.contacts p span{
    font-weight: bold;
}