.flex-container{
    width: 340px;
    height: 200px;
    border: 2px solid blue;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-item{
    border: 2px solid black;
    background: #eee;
    padding: 1em;
}

.flex-container.align-self-flex-center .flex-item:nth-child(2){
    align-self: center;
}

.flex-container.align-self-flex-end .flex-item:nth-child(2){
    align-self: flex-end;
}

.flex-container.align-self-flex-baseline .flex-item:nth-child(2){
    align-self: baseline;
}