*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 14px/1.5 Lato, sans-serif;
    padding: 2em;
    background: #ccc;
}

.site{
    max-width: 800px;
    background: #fff;
    border-radius: 0.3em;
    display: flex;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}

.site-nav ul{
    display: flex;
}

.site-nav ul li{
    display: block;
    flex: 1 0 auto;
    list-style: none outside;
    background: #ccc;
    padding: 0.6em;
    border-radius: 0.3em;
    margin: 0 0.5em;
}

@media (min-width: 800px){
    .site-nav {
        margin-left: 15em;
    }
}