.flex-container{
    width: 340px;
    border: 2px solid blue;
    padding: 1em;
    display: flex;
}

.flex-item{
    border: 2px solid black;
    background: #eee;
    padding: 1em;
}

.flex-container.justify-content-start{
    justify-content: start;
}

.flex-container.justify-content-center{
    justify-content: center;
}

.flex-container.justify-content-end{
    justify-content: end;
}

.flex-container.justify-content-between{
    justify-content: space-between;
}

.flex-container.justify-content-around{
    justify-content: space-around;
}

.flex-container.justify-content-evenly{
    justify-content: space-evenly;
}