@model int
@(ViewData["Title"] = $"First {Model} numbers")

<h1>@ViewData["Title"]</h1>
<ul>
    @for (int i = 1; i <= Model; i++)
    {
        <li>@i</li>
    }
</ul>

<label for="limitInput">Input Limit</label>
<input type="number" id="limitInput" />
<button class="btn btn-primary" onclick="SetLimit()">Get Limited Numbers</button>

@section Scripts{
    <script scr="~/js/numbers.js"></script>
}