@model ProductViewModel
@{
    ViewData["Title"] = $"Product N. {Model.Id}";
}


<div class="row">
    <div class="col-2">
        <div class="card">
            <div class="card-header">@ViewBag.Title</div>
            <h6>Product Name: @Model.Name</h6>
            Price: @Model.Price lv.
        </div>
    </div>
</div>